<!DOCTYPE html>
<html>
<head>
	<title>Find it, Book it, Buy it.</title>

	<!-- Bootstrap cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="/css/Landingpage.css">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet"> -->
	<!-- Favicons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>
<!-- Nav -->
	<nav class="navbar navbar-expand-lg navbar-dark " style="line-height: 50px; position: fixed; width: 100%; background-color: #2E3F61; z-index: 10">
	  <a class="navbar-brand" style="color: white; font-family: 'Oswald', sans-serif; font-size: 35px" ><img src="/images/logo eshika.png" style="width: 15%; height: 15%; padding-top: 0px; padding-bottom: 18px;"> Find it, Book it, Buy it.</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup text-light">
	    <div class="navbar-nav ml-auto" style="padding-right: 25px;">
	      <button type="button" class="btn mx-2" id="our">
	      <a class="nav-item nav-link active" href="/" style="font-family: 'Oswald', sans-serif; font-size: 20px;">  Home  <span class="sr-only">(current)</span></a>
	      </button>
	      <button type="button" class="btn mx-2" id="our">
	      <a class="nav-item nav-link " href="#About" style="font-family: 'Oswald', sans-serif; font-size: 20px">About Us</a>
	  	  </button>
	      <button type="button" class="btn mx-2" id="our">
	      <a class="nav-item nav-link " href="#Contact" style="font-family: 'Oswald', sans-serif; font-size: 20px">Contact Us</a>
	  	  </button>
	    </div>
	  </div>
	</nav>

<!-- Cards -->
<section class="gallery">
		<div class="container jump">
			<div class="row">
				<div class="col-lg-6 mb-3">
					<div class="card border-our" style="width:400px; align:center;">
						<img class="card-img-top mx-auto" src="/images/hi.png">
						<div class="card-body" style="text-align: center;">
							<h5 class="card-title" style="color: #2E3F61; font-family: Roboto; font-weight: bold; font-size: 35px;">Shopkeeper</h5>
							<p class="card-text">Come let's make profits</p>
							<a href="/login" class="btn btn-card btn-lg">Login</a>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mb-3">
						
					<div class="card border-our" style="width:400px;">
						<img class="card-img-top mx-auto" src="/images/he.png">
						<div class="card-body" style="text-align: center;">
							<h5 class="card-title" style="color: #2E3F61; font-family: Roboto; font-weight: bold; font-size: 35px;">Customer</h5>
							<p class="card-text">Come let's buy something</p>
							<a href="/customer/login" class="btn btn-card btn-lg">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<!--About Us-->
<section id="About-contact">
		<div class="container" style="height:1000px;">
			<section id="About">
			<div class="row" style="padding-left:60px; padding-top: 80px;">
			<!-- Text card -->
			<div class="card text-card" style="width: 500px; height: 400px; background-color: #1ab8ea;">
			  <div class="card-body">
			    <h2 class="card-title" style="color:white; text-align: center;">ABOUT US</h2>
			    <p class="card-text" style="color:white; font-size: 22px;">We aim to help the small shop owners with their business that they are financially better off and the citizens to get their required items during this lockdown period to the maximum possible extent along with reducing the risk of transmission of the virus and following and follow all the norms of social distancing which has taken a hit on their lives.</p>
			    
			  </div>
			</div>
			<!-- image card -->
			<div class="card image-card" style="width: 500px; height: 400px">
			  <img class="card-img-top " src="https://image.freepik.com/free-vector/grocery-shopping-online-mobile-application_81534-1139.jpg" style="height:350px; width:470px; padding-left: 10px; padding-top: 60px">
			</div>
		</div>
		</section>
	

<!-- Contact Us -->
	<section id="Contact">
			<div class="row" style="padding-left:60px; padding-top: 80px;">
			<!-- image card -->
			<div class="card image-card2" style="width: 500px; height: 400px">
			  <img class="card-img-top " src="https://cdn.nmgtechnologies.com/blog/wp-content/uploads/2017/09/Best-Practices-for-a-Contact-Us-Page.jpg" style="height:330px; width:490px; padding-left: 10px; padding-top: 60px">
			</div>
<!-- Text card -->
			
			<div class="card text-card2" style="width: 500px; height: 400px; background-color: #1ab8ea;">
			  <div class="card-body">
			    <h2 class="card-title" style="color:white; text-align: center;">CONTACT US</h2>
			    <p class="card-text" style="color:white; font-size: 22px;">In case of any queries, please feel free to contact us.</p>
			<div class="social-links" style="text-align: center;">
              <a href="https://twitter.com/theietvit" class="twitter"><i class="fa fa-twitter" style="font-size: 50px; color: white; padding-right:15px;padding-bottom:20px;"></i></a>
              <a href="https://www.facebook.com/ietvit" class="facebook"><i class="fa fa-facebook" style="font-size: 50px; color:white;padding-right:15px;padding-bottom:20px;"></i></a>
              <a href="https://www.instagram.com/ietvit/" class="instagram"><i class="fa fa-instagram" style="font-size: 50px; color:white;padding-right:15px;padding-bottom:20px;"></i></a>
              <!-- <a href="#" class="google-plus"><i class="fa fa-youtube"></i></a> -->
              <a href="https://www.linkedin.com/company/ietvit" class="linkedin"><i class="fa fa-linkedin" style="font-size: 50px; color:white;padding-bottom:20px;"></i></a>
            </div>
			<a href="tel:+918291149333"><b style="color: white; font-weight: 700;">Ph : +918291149333</b></a>
			<br/>
			<a href="mailto:nishilmadhani@gmail.com"><b style="color: white; font-weight: 700;">email : checkbookbuy@gmail.com</b></a>
			    
			  </div>
			</div>
		</div>
	</section>
		</div>
	</section>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>